cff-version: 1.2.0
message: If you use this software, please cite it using these metadata.
title: {{software_name}}
abstract: This is my awesome research software. It does many things.
authors:
  - name: {{author}}
    orcid: ""
version: x.xx.x
date-released: "yyyy-mm-dd"
identifiers:
  - description: This is the collection of archived snapshots of all versions of {{software_name}}
    type: doi
    value: ""
  - description: This is the archived snapshot of version x.xx.x of {{software_name}}
    type: doi
    value: ""
license: {{software_license}}
repository-code: ""